@font-face{font-family:proxima;src:url(../fonts/proxima_nova_extrabold.eot);src:url(../fonts/proxima_nova_extrabold.eot?#iefix) format('embedded-opentype'),url(../fonts/proxima_nova_extrabold.woff2) format('woff2'),url(../fonts/proxima_nova_extrabold.woff) format('woff'),url(../fonts/proxima_nova_extrabold.ttf) format('truetype');font-weight:900;font-style:normal}
@font-face{font-family:proxima;src:url(../fonts/proxima_nova_bold.eot);src:url(../fonts/proxima_nova_bold.eot?#iefix) format('embedded-opentype'),url(../fonts/proxima_nova_bold.woff2) format('woff2'),url(../fonts/proxima_nova_bold.woff) format('woff'),url(../fonts/proxima_nova_bold.ttf) format('truetype');font-weight:700;font-style:normal}
@font-face{font-family:proxima;src:url(../fonts/proxima_nova_regular.eot);src:url(../fonts/proxima_nova_regular.eot?#iefix) format('embedded-opentype'),url(../fonts/proxima_nova_regular.woff2) format('woff2'),url(../fonts/proxima_nova_regular.woff) format('woff'),url(../fonts/proxima_nova_regular.ttf) format('truetype');font-style:400}
@font-face{font-family:proxima;src:url(../fonts/proxima_nova_light.eot);src:url(../fonts/proxima_nova_light.eot?#iefix) format('embedded-opentype'),url(../fonts/proxima_nova_light.woff2) format('woff2'),url(../fonts/proxima_nova_light.woff) format('woff'),url(../fonts/proxima_nova_light.ttf) format('truetype');font-style:300;font-style:normal}

*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-position:center;background-repeat:no-repeat}
:not(a):after,:not(a):before,:not(br):after,:not(br):before,:not(img):after,:not(img):before,:not(span):after,:not(span):before{content:" ";display:block;width:100%;height:0;clear:both}
a:after,a:before,br:after,br:before,img:after,img:before,span:after,span:before,table:after,table:before,td:after,td:before,tr:after,tr:before{content:none}
.wrap{position:relative;margin:0 auto;max-width:1100px;width:100%;/* min-width:1100px; */z-index:2;text-align:center;font-size: 0;height: 100%;}
.clear{clear:both}
.section,section,header{width:100%;overflow:hidden;position:relative;z-index:1;/* max-width: 1100px; */}
h1,h2,h3,h4,h5{font-size:1em;font-weight:inherit;text-align:center}
body{font-weight:400;font-family:proxima;color: white}
a{text-decoration:none;color:inherit;outline:0!important}
#maket {
    width: 100%;
    height: 9124px;
    background: url(../maket.jpg) no-repeat top center;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}
.menu_fone,.phone_fone{
    display: none;
}
.mob{display: none!important;}
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    top: 69px;
}
.logo {
    color: #b2ae9b;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-image: url(../img/logo.png);
    background-position: top;
    float: left;
    display: inline-block;
    width: 248px;
    text-align: left;
    padding-top: 50px;
    font-size: 15px;
    letter-spacing: 0.3px;
}

.fone {
    float: right;
    width: 274px;
    text-align: right;
    margin-right: -2px;
}
.fone a {
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    margin-top: 4px;
    font-weight: 400;
}
.btn_zz{
    color: #f5dda6;
    font-size: 18px;
    display: inline-block;
    border-bottom: 1px dashed #f5dda6;
    line-height: 17px;
    margin-top: 2px;
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 0.25s;
    
}
.btn_zz:hover{
    border: 0;
    transition: all 0.25s;
}
.sec1 {
	position: relative;
	z-index: 2;
	background-image: url(../img/bg_sec1.jpg);
	/* height: 898px; */
	height: 100vh;
	/* padding-top: 367px; */
	background-size: cover;
	min-height: 600px;
	/* height: 600px; */
}
h2{
    font-weight: 700;
    position: relative;
}
.sec1 h2{
    font-size: 49px;
    line-height: 58px;
}
h3 {
    font-weight: 300;
}
.sec1 h3 {
    font-size: 24px;
    margin-top: 38px;
}
.sec1 h3 span {
    color: #eabc7f;
}
.mouse {
    background-image: url(../img/mouse.png);
    width: 26px;
    height: 40px;
    display: block;
    position: absolute;
    bottom: 65px;
    left: 50%;
    z-index: 5;
    margin-left: -13px;
    cursor: pointer;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: mouseDrag;
    animation-name: mouseDrag;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-timing-function: cubic-bezier(.7,.01,1,1);
    animation-timing-function: cubic-bezier(.7,.01,1,1);
    -webkit-animation-delay: 1s;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: none;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: mouseDrag;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: cubic-bezier(.7,.01,1,1);
}
@keyframes mouseDrag{0%{margin-bottom:-28px}
100%{margin-bottom:-48px}
}
@-webkit-keyframes mouseDrag{0%{margin-bottom:-28px}
100%{margin-bottom:-48px}
}
.sec2 {
    background-image: url(../img/bg_sec2.jpg);
    min-height: 1582px;
    position: relative;
    z-index: 2;
    padding-top: 139px;
    background-size: cover;
    padding-bottom: 30px;
}
.sec2 h2{
    font-size: 36px;
}
.sec2 h2:after{
    content: "";
    background-color: #f9e2aa;
    width: 221px;
    height: 8px;
    position: absolute;
    left: 50%;
    margin-left: -111px;
    top: 78px
}
.sec2 h3{
    font-size: 24px;
    color: #f5dfc2;
    margin-top: 114px
}
.sound_gr {
    background-image: url(../img/sound_gr.jpg);
    max-width: 869px;
    width: 100%;
    height: 524px;
    display: inline-block;
    margin-top: 40px;
    position: relative;
    z-index: 4;
}
.sound_gr:before{
    content: "";
    background-color: #ac8a5d;
    width: 1px;
    height: 572px;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: -17px
}
.sounds {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-position: center 37%;
    transition: all 0.25s;
    cursor: pointer;
}
.sounds:hover{
    background-image: url(../img/sound.png);
    background-position: center 37%;
    transition: all 0.25s;
}
#audio1{
	background-color: rgba(243, 205, 154, 0.21);
}
.sounds h3 {
    font-size: 22px;
    color: #e3cbab;
    position: absolute;
    bottom: 46px;
    width: 320px;
    left: 50%;
    margin-left: -160px;
}
.sounds:hover h3{
    color: white;
}
.sounds .vizual span{
opacity: 1;

}
.sounds:hover .vizual span{
    -webkit-animation: balls 1s infinite;
    animation: balls 1s infinite;
    background-color: #ffffff;
}

@-webkit-keyframes balls {
  from{-webkit-transform: translateY(0);}
  25%{transform: translateY(-5px);}
  75%{transform: translateY(5px);}
  to{-webkit-transform: translateY(0);}
}
@keyframes balls {
  from{transform: translateY(0);}
  25%{transform: translateY(-5px);}
  75%{transform: translateY(5px);}
  to{transform: translateY(0);}
}
.sounds:hover .vizual span:nth-of-type(1),.sounds:hover .vizual span:nth-of-type(6),.sounds:hover .vizual span:nth-of-type(7) {
  -webkit-animation-timing-function: ease;
  animation-timing-function: cubic-bezier(0.5, 0.01, 1, 1);
}
.sounds:hover .vizual span:nth-of-type(2),.sounds:hover .vizual span:nth-of-type(5),.sounds:hover .vizual span:nth-of-type(8) {
 -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.sounds:hover .vizual span:nth-of-type(3),.sounds:hover .vizual span:nth-of-type(4),.sounds:hover .vizual span:nth-of-type(9) {
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.vizual {
    border: 1px solid #e4b77c;
    width: 183px;
    height: 37px;
    position: absolute;
    bottom: 122px;
    left: 50%;
    margin-left: -91px;
    border-radius: 10px;
    padding: 16px 0;
}
.vizual span {
    background-color: #e4b77c;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin: 0 4px;
}
.gr_sound{
    margin-top: 71px;
    position: relative;
    z-index: 5;
}
.soun{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0px 4.5%;
    width: 14.8%;
    min-width: 140px;
}
.soun:nth-of-type(4){
    width: 19%;
    min-width: 185px;
}
.soun .img {
    height: 68px;
}
.soun:nth-of-type(1) .img{
    background-image: url(../img/sound_im1.png)
}
.soun:nth-of-type(2) .img{
    background-image: url(../img/sound_im2.png)
}
.soun:nth-of-type(3) .img{
    background-image: url(../img/sound_im3.png)
}
.soun:nth-of-type(4) .img{
    background-image: url(../img/sound_im4.png)
}
.soun:nth-of-type(1):after,.soun:nth-of-type(2):after,.soun:nth-of-type(3):after{
    content: "";
    background-image: url(../img/layer.png);
    width: 1px;
    height: 312px;
    top: -145px;
    right: -30px;
    position: absolute;
}
.soun p{
    font-size: 20px;
    font-weight: 300;
    margin-top: 25px
}
.soun span {
    position: absolute;
    top: -15px;
    left: -10px;
    color: rgba(70, 67, 61, 0.4);
    font-size: 70px;
    font-weight: 700;
}
.sound_form {
    border: 2px solid #eabc7f;
    width: 93.5%;
    min-height: 291px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 91px;
    padding: 45px 0px;
}
.sound_form h4{
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
}
.sound_form h4 span{color: #eabc7f;}
.sound_form form {
    margin-top: 39px
}
.sound_form form input,.sound_form form button{
    margin: 0 2%;
}
form button:hover,.korz:hover{
    
background-color: #b3121f;
    
transition: all 0.25s;
}
::-webkit-input-placeholder{color: #7c7c7c;}
::-moz-placeholder{color: #7c7c7c;}
:-moz-placeholder{color: #7c7c7c;}
:-ms-input-placeholder{color: #7c7c7c;}
input, button{
    border: none;
    outline: none;
}
form input {
    font-size: 18px;
    font-weight: 300;
    background-color: white;
    padding-left: 2%;
    color: black;
}
form button{
    background-color: #d71525;
    font-weight: 700;
    font-size: 22px;
    color: white;
    cursor: pointer;
}
form input,form button {
    width: 22.5%;
    min-width: 180px;
    height: 58px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
}

button {}
.sec3 {
    position: relative;
    z-index: 2;
}

.s-wr {
    background-color: #f7f7f7;
    width: 100%;
    padding: 110px 0px 80px;
}
.sec3 h2{
    color: #212121;
    font-size: 36px;
    float: left;
    margin-left: 260px
}
.sec3 h2:after{
    content: "";
    position: absolute;
    top: 53px;
    left: 4px;
    width: 184px;
    height: 10px;
    background-color: #d82237;
}
.kab_gr {
    width: 71.5%;
    float: right;
}
.s-wr .kab_gr{
    margin-top: 104px;
}
.kab_gr .img {
    float: left;
    margin-top: 2px;
    width: 39%;
    min-width: 273px;
}
.kab_gr img{
    float: left;
}
.kab_gr .opis_gr{
    float: left;
    width: 61%;
    padding-left: 3px;
    padding-right: 35px
}
.opis_gr h3 {
    font-size: 30px;
    color: #212121;
    text-align: left;
}
.opis_gr h3 span{
    background-image: url(../img/premium.png);
    width: 22px;
    height: 20px;
    display: inline-block;
    margin-left: 15px;
}
.opis, .har{
    border: 1px solid #49494b;
    border-radius: 10px;
    color: #212121;
    font-size: 16px;
    padding: 7px 17px;
    cursor: pointer;
    transition: all 0.25s;
}
.opis{
    margin-left: 6px
}
.opis:hover, .har:hover,.opis.active, .har.active{
    background-color: #494949;
    color: white;
    transition: all 0.25s;
}
.butn_gr {
    float: left;
    width: 100%;
    margin-top: 36px;
    text-align: left;
    margin-bottom: 16px
}

.har_p {
    float: left;
    margin-top: 17px;
    margin-left: 1px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 25px;
    display:none;
    transition: all 0.25s;
}
.har_p.active{
    display:block;
    transition: all 0.25s;
}
.har_p p {
    font-size: 16px;
    font-weight: 300;
    color: #4a4a4a;
    text-align: left;
    line-height: 19px
}
.cena_gr p{
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
    min-width: 55px;
    line-height: 16px
}
.cena_gr span{
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    color: #212121;
    float: left;
    margin-left: 8px;
    margin-top: 5px;
    text-align: left;
    width: 40%;
}
.cena_gr {
    width: 100%;
    float: left;
    margin-top: 19px;
}

.korz {
    display: inline-block;
    background-color: #d71525;
    width: 150px;
    height: 49px;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
    background-image: url(../img/korz.png);
    background-position: 16px center;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0px 0px 28px;
    transition: all 0.25s;
}

.w-wr {
    background-color: #fdfdfd;
    width: 100%;
    padding: 90px 0px 100px;
}
.ops{
    text-align: left;
    margin-left: 3px
}
.ops p {
    font-size: 15px;
    font-weight: 300;
    color: #7a7a7a;
    float: left;
    width: 240px
}
.ops span {
    color: #1e1e1e;
    font-size: 15px;
    font-weight: 300;
    float: left;
    width: 190px
}
.opis_p {
    margin-top: 18px;
    float: left;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 17px;
    display:none;
    transition: all 0.25s;
}
.opis_p.active{
    display:block;
    transition: all 0.25s;
}
.sec4 {
    background-image: url(../img/bg_sec4.jpg);
    min-height: 978px;
    position: relative;
    z-index: 2;
    padding-top: 114px;
    padding-bottom: 30px;
    background-size: cover;
}
.sec4 h2 {
    font-size: 38px;
    display: inline-block;
}
.sec4 h2:after {
    content: "";
    width: 221px;
    height: 8px;
    background-color: #796f61;
    left: 50%;
    margin-left: -110px;
    top: 69px;
    position: absolute;
}
.man {
    margin-left: 0px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-left: 4.5%;
    float: right;
}
.man img {
    float: left
}
.man h3{
    font-size: 24px;
    font-weight: 700;
    color: #cca878;
    text-align: left;
    margin-top: -28px;
    float: left;
}
.man h3 span{
    font-weight: 300;
}
.man p {
    font-size: 18px;
    font-weight: 300;
    color: #f2ebeb;
    margin-top: 11px;
    float: left;
    text-align: left
}
.soz_gr {
    display: inline-block;
    width: 70%;
    background-image: url(../img/sozdanie.png);
    min-height: 649px;
    background-position: 6% 61px;
    padding-left: 10.5%;
    padding-top: 0px;
    float: right;
}

.man_gr {
    margin-top: 106px;
}
.soz_gr p {
    text-align: left;
    font-weight: 300;
    font-size: 17px;
    margin-top: 17px;
    margin-bottom: 19px;
    line-height: 21px;
}
.soz_gr p span{
    font-weight: 700;
    color: #ac8a5d;
}
.sec5 {
    background-color: white;
    position: relative;
    z-index: 2;
    padding-top: 114px;
    padding-bottom: 85px
}
.sec5 h2 {
    color: #333333;
    font-size: 36px;
}
.vid_im {
    width: 120px;
    height: 68px;
    background-color: black;
    border-radius: 10px;
    float: left;
    transition: all 0.25s;
    border: 2px solid transparent;
}
.vid p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #3b3935;
    float: left;
    text-align: left;
    margin-left: 25px;
    margin-top: 11px
}
.vid p span{
    font-size: 14px;
    color: #bdbdbd;
}
.vid {
    display: inline-block;
    vertical-align: top;
    margin: 0px 2.2%;
    cursor: pointer;
}
.vid:hover .vid_im,.vid.active .vid_im {
    border: 2px solid #c71b1f;
    background-image: url(../img/youtybe.png);
    transition: all 0.25s;
}
.video_gr {
    margin-top: 56px
}

.video {
    background-image: url(../img/video.png);
    width: 94.7%;
    height: 480px;
    display: inline-block;
    margin-top: 42px;
    position: relative;
    margin-bottom: 50px;
    background-size: cover;
}
.gr_vid{
    width: 100%;
    position: relative;
}
.vid_f{
    display: none;
}
.vid_f, .video p{
    font-size: 36px;
    font-weight: 300;
    color: #fff6eb;
    position: absolute;
    top: 50%;
    margin-top: -41px;
    right: 8%;
    text-align: left;
    height: 90px;
    width: 330px;
}
.vid_f span, .video p span {
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    margin-top: 4px;
    margin-left: 3px
}

.youtybe {
    position: absolute;
    background-image: url(../img/youtybe_big.png);
    width: 138px;
    height: 96px;
    top: 50%;
    left: 50%;
    margin-top: -48px;
    margin-left: -69px;
    cursor: pointer;
    background-size: cover;
    transition: all 0.25s;
}
.youtybe:hover{
    
width: 150px;
    
height: 108px;
    
margin-top: -54px;
    
margin-left: -75px;
}
.sec6 {
    background-image: url(../img/bg_sec6.jpg);
    height: 819px;
    position: relative;
    z-index: 2;
    padding-top: 184px;
    background-size: cover;
}
.sec6 h2{
    font-size: 38px;
    color: #eabc7f;
    line-height: 40px
}
.sec6 h2 span {
    font-weight: 300;
    color: #fff6eb;
    font-size: 25px;
    display: inline-block;
}
.zakaz_form {
    margin-top: 54px
}
.zakaz_form input, .zakaz_form button {
    margin: 0 22px
}
.sec6 p {
    color: #6c5f50;
    font-weight: 300;
    font-size: 14px;
    margin-top: 253px;
    text-align: left;
    padding-left: 14px
}
footer {
    position: absolute;
    z-index: 3;
    /* margin-top: -100px; */
    padding: 20px 0px;
    bottom: 0;
    width: 100%;
}
footer .logo{
    background-size: contain;
    width: 192px;
    margin-left: 19px;
    margin-top: 15px
}
footer .fone {
    display: inline-block;
    float: none;
    text-align: center;
    margin-top: -2px
}
.gulf {
    background-image: url(../img/gulf_logo.png);
    width: 207px;
    height: 42px;
    float: right;
    margin-right: 4px
}

.katalog {
    left: 50%;
    margin-left: -576px;
    -webkit-box-shadow: 0px 0px 43px 0px rgba(73, 73, 75, 0.14);
    -moz-box-shadow:    0px 0px 43px 0px rgba(73, 73, 75, 0.14);
    box-shadow:         0px 0px 43px 0px rgba(73, 73, 75, 0.14);
    width: 251px;
    height: 425px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    padding-left: 26px;
    padding-top: 28px;
    padding-right: 26px;
    z-index: 6;
    transition: all 0.25s;
}
.katalog.top {
    top: 110px;
    position: absolute;
}
.katalog.fix {
    top: 110px;
    position:fixed;
}
.katalog.bottom {
    bottom: 100px;
    position:absolute;
}
.katalog h4{
    font-weight: 300;
    font-size: 24px;
    color: #212121;
    text-align: left;
    margin-left: 7px
}
.kat_gr p {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    margin-left: 7px
}
.kat_gr {
    margin-top: 19px;
    border-bottom: 2px solid #d7d7d7;
    padding-bottom: 16px
}

.kat_gr a {
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    padding: 4px 22px 3px 8px;
    margin-top: 1px;
    border-radius:10px 15px 15px 10px;
    transition: all 0.25s;
    
}
.kat_gr a:hover,.kat_gr a.active{
    background-color: #d71525;
    color: white;
    transition: all 0.25s;
}
.popap {
    margin: 0 auto;
    background-image: url(../img/popap.jpg);
    width: 722px;
    /* width: 100%; */
    /* padding: 0px 20px; */
    max-height: 453px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 43px 0px rgba(73, 73, 75, 0.14);
    -moz-box-shadow:    0px 0px 43px 0px rgba(73, 73, 75, 0.14);
    box-shadow:         0px 0px 43px 0px rgba(73, 73, 75, 0.14);
    position: relative;
    padding-top: 62px;
    text-align: center;
    font-size: 0;
    padding-bottom: 30px;
}

.close {
    background-image: url(../img/close.png);
    position: absolute;
    width: 22px;
    height: 24px;
    top: 26px;
    right: 28px;
    cursor: pointer;
    
}
.popap h2{
    font-size: 36px; 
}
.popap h2:after{
    content: "";
    width: 184px;
    height: 10px;
    position: absolute;
    background-color: #d82237;
    left: 50%;
    margin-left: -92px;
    top: 63px
}
.popap p {
    font-weight: 300;
    font-size: 24px;
    margin-top: 53px;
    line-height: 28px;
}
.popap form{
    margin-top: 34px
}
.popap form input,.popap form button{
    margin: 11px 14px
}

.timer {
    display: inline-block;
    margin-top: 35px;
    width: 100%;
}
.timer p span{
	display: inline-block;
	width: 58px;
	text-align: center;
}
.timer p {
    font-size: 48px;
    margin: 0;
    line-height: normal;
}
.back {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    color: #d82237;
    text-decoration: underline;
    margin-top: 62px;
    transition: all 0.25s;
    cursor: pointer;
}
.back:hover{
    text-decoration: none;
    transition: all 0.25s;
}
#hidden-box{display:none}
.arcticmodal-container,.arcticmodal-overlay{position:fixed;left:0;top:0;right:0;bottom:0;z-index:1000}
.arcticmodal-container{overflow:auto;margin:0;padding:0;border:0;border-collapse:collapse}
:first-child+html .arcticmodal-container{height:100%}
.arcticmodal-container_i{margin:0 auto;height:100%}
.arcticmodal-container_i2{margin:0;border:0;vertical-align:middle}
.error-input{border:1px solid red}
#s1s1 {
    margin-top: 54.241610738255034px;
    top: 45.95973154362416%;
}
.slice {
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media (max-width: 1100px){
.section, section, header, footer{
    padding: 0px 1%;
}
.soun {
    margin: 0px 4%;
}
.katalog{
	margin-left: 0;
	left: 0%;
}
.vid{
	margin: 0px 1%;
}
.video{
	width: 97%;
}
.kab_gr{
	width: 76.2%;
}
}
@media (max-width: 1050px){
.katalog{
    display: none;
}
.kab_gr{
	width: 95%;
}
.korz{
	float: left;
	margin-right: 0;
}
.sec3 h2{
	margin-left: 5%;
}
.vid p{
	margin-left: 10px;
}
.video p{
	top: 15%;
	right: 5%;
}
.cena_gr span{
	width: 40%;
}
}
@media (max-width: 1000px){
.vid p{
	width: 100%;
	text-align: center;
	margin-left: 0;
}
.vid{
	width: 33.3%;
	text-align: center;
	margin: 0;
}
.vid_im{
	display: inline-block;
	float: none;
}
}
@media (max-width: 950px){
.soun {
    margin: 0px 2%;
}
.cena_gr span {
    width: 45%;
}
}
@media (max-width: 900px){
.kab_gr {
    width: 100%;
}
.soz_gr{
    width: 80%;
    float: none;
    padding-left: 12%;
}
.man{
	float: none;
	width: 60%;
	padding-left: 0;
}
.man img{
	display: inline-block;
}
.man h3{
	margin-top: 40px;
}
}
@media (max-width: 850px){

}
@media (max-width: 800px){
.kab_gr .img{
	width: 36%;
}
.cena_gr span {
    width: 40%;
}
.soun,.soun:nth-of-type(4){
	width: 33.3%;
	margin-bottom: 50px;
}
.soun:nth-of-type(1):after, .soun:nth-of-type(2):after, .soun:nth-of-type(3):after{
    display: none;
}
.sound_form{
	margin-top: 10px;
}
.s-wr{
	padding: 60px 0px 30px;
}
.w-wr{
	padding: 30px 0px 50px;
}
.sec6{
	padding-top: 100px;
	height: 700px;
}
.sec6 p{
	margin-top: 200px;
}
}
@media (max-width: 750px){
.sec2 h2 {
    font-size: 32px;
}
.sound_form h4{
	font-size: 32px;
}
.sec1 h2{
	font-size: 42px;
	line-height: 46px;
}
.kab_gr .opis_gr{
	padding-right: 0;
}
.sec3 h2{
	font-size: 32px;
}
.s-wr .kab_gr{
	margin-top: 50px;
}
.sec4 h2{
	font-size: 34px;
}
.sec5 h2{
	font-size: 32px;
}
.sec6 h2{
	font-size: 34px;
}
.video{
	height: 420px;
}
.sec5{
	padding-bottom: 30px;
}
.sec2,.sec4,.sec5{
	padding-top: 50px;
}
.sec1{
	height: 650px;
}
.soz_gr {
    width: 100%;
    padding-left: 12%;
    background-position: 3% 61px;
}
}
@media (max-width: 700px){
.kab_gr .img{
	width: 100%;
}
.kab_gr .opis_gr{
	width: 100%;
	margin-top: 30px;
}
.opis_gr h3{
	width: 50%;
	float: left;
	vertical-align: top;
}
.butn_gr{
    width: 50%;
    float: left;
    vertical-align: top;
    margin-top: 8px;
}
.opis_p.active{
	width: 100%;
}
.ops p{
	width: 50%;
}
.ops span{
	width: 50%;
}
.korz{
	width: 50%;
	text-align: center;
	padding-left: 0;
}
.cena_gr span {
    width: 32%;
}
.man {
    width: 80%;
}
}
@media (max-width: 650px){
    .sec1 h2{
	font-size: 36px;
}
    .sec2 h2,.sec3 h2,.sec4 h2,.sec5 h2,.sec6 h2,.popap h2{
	font-size: 28px;
}
.sound_form form button{
	margin-top: 30px;
}
footer .logo,.gulf,footer .fone{
	margin: 5px 10% 5px;
	float: none;
	display: inline-block;
}
.sec6{height: 810px;}
footer{
	padding-bottom: 10px;
}
.sound_form h4 {
    font-size: 30px;
}
.sounds h3{
	font-size: 18px;
	width: 270px;
	margin-left: -135px;
}

}
@media (max-width: 600px){
.sound_form h4 {
    font-size: 28px;
}
.zakaz_form button{
	margin-top: 30px;
}
.sec6 p {
    margin-top: 90px;
    color: white;
}
.sec6 h2 span{
	font-size: 22px;
}
.sec2 h2, .sec3 h2, .sec4 h2, .sec5 h2, .sec6 h2, .popap h2 {
    font-size: 24px;
}
.sec2 h3{
	font-size: 20px;
}
}
@media (max-width: 550px){
.korz{
	width: 45%;
}
.cena_gr span{
	width: 35%;
}
.man {
    width: 85%;
}
.sec6 h2 span {
    font-size: 20px;
}
.sound_form h4 {
    font-size: 24px;
    line-height: 38px;
}
form input, form button{
	height: 50px;
}
.sec1 h2 {
    font-size: 24px;
}
.soz_gr p{
	font-size: 14px;
	margin: 20px 0;
}
}
@media (max-width: 500px){
.sound_gr{
	display: none;
}
.sec2{
	background-image: none;
	background-color: #252525;
}
.menu_fone{
	cursor: pointer;
	background-image: url(../img/menu.png);
	width: 40px;
	height: 28px;
	position: fixed;
	display: inline-block;
	z-index: 5;
	left: 4%;
	top: 2%;
	background-size: cover;
}
.phone_fone{
	cursor: pointer;
	background-image: url(../img/phone.png);
	width: 45px;
	height: 45px;
	position: fixed;
	display: inline-block;
	top: 1%;
	z-index: 5;
	right: 4%;
	background-size: cover;
}
.fone{
    display: none;
}
.logo{
	float: none;
}
.sec1 h2 {
    font-size: 22px;
    line-height: 32px;
}
.sec1 h3{
	font-size: 20px;
}
.sec2 h2, .sec3 h2, .sec4 h2, .sec5 h2, .sec6 h2, .popap h2 {
    font-size: 22px;
}
.butn_gr{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}
.opis_gr h3{
	width: 100%;
	text-align: center;
}
.korz{
	width: 40%;
}
.man {
    width: 100%;
}
.mob{display: inline-block!important;}
.video_gr{
	display: none;
}
.kab_gr img{
	float: none;
}
.video {
    width: 100%;
    margin-bottom: 0;
}
.video p{
	font-size: 30px;
	top: 13%;
	right: 2%;
	width: 280px;
}
.video p span{
	font-size: 18px;
}
}
@media (max-width: 480px){
.soz_gr p {
    margin: 10px 0;
}
.soz_gr {
    width: 100%;
    padding: 0 1%;
    background: 0;
    min-height: 570px;
}
.sec3 h2{
	text-align: center;
	float: none;
	display: inline-block;
}
.sec3 h2:after, .popap h2:after{
	left: 50%;
	margin-left: -97px;
	top: 40px;
}
.popap form {
    margin-top: 15px;
}
.popap p{
	font-size: 20px;
}
.popap{
	padding-top: 55px;
	width: 95%;
}
.har {
    margin-left: 20px;
}
.sound_form{
	padding: 15px 0px;
}
.sound_form h4{
	font-size: 19px;
	line-height: 32px;
}
.sec1 h2 {
    font-size: 20px;
}
.sec2 h2, .sec3 h2, .sec4 h2, .sec5 h2, .sec6 h2, .popap h2 {
    font-size: 20px;
}
    .sound_form h4{
	font-weight: 400;
}
.sound_form form input, .sound_form form button{
	margin: 10px 10%;
}
.cena_gr span{
	width: 65%;
}
.korz {
    width: 90%;
    display: inline-block;
    float: none;
    margin-top: 10px;
}
.man h3 {
    margin-top: -40px;
}
.man {
    width: 90%;
}
.video {
    height: 200px;
    margin-top: 0px;
}
.youtybe{
	background-size: cover;
	width: 100px;
	height: 70px;
	margin-top: -35px;
	margin-left: -50px;
}
.vid_f {
    top: -15%;
    width: 100%;
    color: #252525;
    line-height: 16px;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 40px;
    margin-left: 0;
}

.video p{
    display: none;
}
.zakaz_form input, .zakaz_form button{  margin: 10px 10%;}
.sec6 {padding-top: 40px;}
.zakaz_form{
	margin-top: 20px;
}
.sec6 h2 span {
    font-size: 18px;
    line-height: 26px;
}
.sec6 p {
    margin-top: 30px;
    color: white;
}
}